<form>
    <table>
      <tr>
        <th></th>
        <th>Preferred Cloud?</th>
      </tr>
      <tr>
        <td><input type="radio" name="favorite" id="AWS" value="AWS"></td>
        <td><label for="AWS">AWS</label></td>
      </tr>
      <tr>
        <td><input type="radio" name="favorite" id="GCP" value="GCP"></td>
        <td><label for="GCP">GCP</label></td>
      </tr>
      <tr>
        <td><input type="radio" name="favorite" id="Azure" value="Azure"></td>
        <td><label for="Azure">Azure</label></td>
      </tr>
      <tr>
        <td></td>
        <td><input class="button" type="submit"></td>
      </tr>
    </table>
  </form>
