.button {
    color: #fff;
    background-color: #0596ff !important;
    background-image: none !important;
    border: none !important;
    border-radius: 30px;
    padding: 12px 50px !important;
    font-size: 16px !important;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}